header {
    background-color: purple;
    height: 20vh;
    margin: 10px;
    animation-name: color-swap;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

nav > div {
    background-color: skyblue;
    height: 50px;
    margin: 10px;
    animation: size-change 4s linear 1s infinite;
}

aside {
    background-color: royalblue;
    height: 50vh;
    margin: 10px;
    animation: background-change 6s linear 1s infinite;
}

footer {
    background-color: blue;
    height: 10vh;
    margin: 10px;
    border: 5px;
    animation: shape-change 5s linear 1s infinite;
}

@keyframes color-swap {
    0% {background-color: purple;}
    25% {background-color: orange;}
    50% {background-color: red;}
    75% {background-color: green;}
    100% {background-color: purple;}
}

@keyframes size-change {
    from {width: 100%}
    to {width: 0%}
}

@keyframes rotate {
    
}

@keyframes background-change {
    0% {background-color: red}
    50% {background-color: yellow;}
    100% {background-color: blue;}
}

@keyframes shape-change {
    0% {border-radius: 0%}
    25% {border-radius: 10%;}
    50% {border-radius: 25%;}
    100% {border-radius: 50%;}
}

@media screen and (min-width: 992px) {
    header {
        height: 15vh;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav > div {
        height: 25px;
        width: 100px;
    }

    aside {
        width: 25vw;
    }
}